
CREATE TABLE mx_dual_activity (
    id INT IDENTITY(1,1) PRIMARY KEY,
    txt_model VARCHAR(100) NOT NULL,
    txt_action VARCHAR(100) NOT NULL,
    txt_table VARCHAR(100),
    txt_column VARCHAR(100),
    int_require_dual_activity INT DEFAULT 0,
    txt_row_value VARCHAR(100) DEFAULT NEWID()
);

CREATE TABLE mx_dual_activity_group (
    id INT IDENTITY(1,1) PRIMARY KEY,
    opt_mx_dual_activity_id INT NOT NULL,
    opt_mx_group_id INT NOT NULL,
    txt_row_value VARCHAR(100) DEFAULT NEWID()
);

CREATE TABLE mx_dual_activity_log (
    id INT IDENTITY(1,1) PRIMARY KEY,
    opt_mx_dual_activity_id INT NOT NULL,
    opt_mx_login_credential_id INT NOT NULL,
    txt_token VARCHAR(255) NOT NULL,
    txt_column_value NVARCHAR(MAX),
    dat_activity_triggered_date DATETIME DEFAULT GETDATE(),
    int_activity_triggered_by INT NOT NULL,
    int_status INT DEFAULT 0,
    txt_row_value VARCHAR(100) DEFAULT NEWID()
);

