<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <security>
      <!-- Blocks access to hidden files like .env, .git, etc. -->
      <requestFiltering>
        <hiddenSegments>
          <add segment=".git" />
          <add segment=".svn" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <!-- Block dotfiles (/.env, /.git/config, etc.) -->
        <rule name="BlockDotFiles" stopProcessing="true">
          <match url="(^|/)\." ignoreCase="true" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>

        <!-- Ignore existing files/directories -->
        <rule name="IgnoreExisting" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Front controller -->
        <rule name="FrontController" stopProcessing="true">
          <match url="^(.+)$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
        </rule>

        <!-- Root / -->
        <rule name="FrontControllerRoot" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
