<div class="form-group">
    <label for="old_password" class="col-lg-3 control-label">Old password</label>
    <div class="col-lg-4">
        <input type="password" id="old_password" placeholder="Enter Old Password" name="old_password"
               ng-model="form.old_password"
               class="form-control"
               ng-class="userpassword.old_password.$invalid && userpassword.old_password.$dirty"
               required/>
    </div>
</div>


<div class="form-group">
    <label for="new_password" class="col-lg-3 control-label">New Password</label>
    <div class="col-lg-4">
        <input type="password" id="new_password" placeholder="Enter New Password" name="new_password"
               ng-model="form.new_password"
               class="form-control"
               ng-class="userpassword.new_password.$invalid && userpassword.new_password.$dirty"
               ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&._-])[A-Za-z\d@$!%*?&._-]{8,}$/"
               required/>

        <!-- Error message -->
        <div class="text-danger small"
             ng-show="userpassword.new_password.$dirty && userpassword.new_password.$invalid">
            Password must have at least 8 characters including uppercase, lowercase, number, and special character.
        </div>
    </div>
</div>


<div class="form-group">
    <label for="confirm_password" class="col-lg-3 control-label">Confirm New Password</label>
    <div class="col-lg-4">
        <input type="password" id="confirm_password" placeholder="Enter Confirm Password" name="confirm_password"
               ng-model="form.confirm_password"
               class="form-control"
               ng-class="userpassword.confirm_password.$invalid && userpassword.confirm_password.$dirty"
               ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&._-])[A-Za-z\d@$!%*?&._-]{8,}$/"
               required/>

        <!-- Error message -->
        <div class="text-danger small"
             ng-show="userpassword.confirm_password.$dirty && userpassword.confirm_password.$invalid">
            Password must have at least 8 characters including uppercase, lowercase, number, and special character.
        </div>
    </div>
</div>

