<div class="card border-0">
    <div class="card-body p-2">
        <h5 class="text-center mb-4" style="text-transform: uppercase; font-size: 1.1em; font-weight: 600; color: #64748b; letter-spacing: 0.05em;">Fill the form to update system user details</h5>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="txt_name" class="form-label">Name</label>
                <input type="text" id="txt_name" placeholder="Enter name" name="txt_name" class="form-control"
                       ng-class="user.txt_name.$invalid && !user.txt_name.$pristine" ng-model="form.txt_name" required/>
            </div>
            
            <div class="col-md-6 mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" placeholder="Enter email" name="email" class="form-control"
                       ng-class="user.email.$invalid && !user.email.$pristine" ng-model="form.email" required/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="txt_mobile" class="form-label">Mobile</label>
                <input type="text" id="txt_mobile" pattern="[0]{1}[0-9]{3}[0-9]{6}" placeholder="Enter mobile" name="txt_mobile" title="Please Use 0********* format" class="form-control"
                       ng-class="user.txt_mobile.$invalid && !user.txt_mobile.$pristine" ng-model="form.txt_mobile" />
                <div class="mobile_error"></div>
            </div>

            <div class="col-md-6 mb-4" ng-if="dropdowns.opt_mx_groups_ids.length > 0">
                <label for="group_id" class="form-label">User Group</label>
                <select name="group_id" id="group_id" class="form-control" ng-model="form.group_id"
                        ng-options="value.id as value.name for (key, value) in dropdowns.opt_mx_groups_ids">
                    <option value="">Select Group</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4" ng-if="dropdowns.opt_mx_groups_ids.length === 0">
                <label for="group_id" class="form-label">User Group</label>
                <div class="alert alert-warning py-2 mb-0">No Group Added. Please add Groups before trying to update the user.</div>
            </div>
        </div>
    </div>
</div>
